html {
    background-color: lightblue;
}

body { 
    font-family: sans-serif; padding: 20px; 
}
    
h1 { margin-bottom: 20px; 
}
    
.verse {
      margin-bottom: 12px;
}
    
form {
      margin-bottom: 30px;
}